Makefile.defs
depcomp
*.log
*.trs
Makefile.in
Makefile
testapp
config.guess
config.sub
testapp_catch2
cpu_stat
*.tar.gz
*.tar.gz
*.gcda
*.gcno
ltmain.sh
libtool
.libs
dfxml_config.h
dfxml_config.h.in
*.la
*.d
*.exe
test_dfxml
